{% extends "layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="#">GeoLocation Task</a>
        <span id="userIP">User IP : {{ user_ip }}</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-3">
                <button id = "btnGetGeoLocation" class="btn btn-lg btn-outline-success">Get GeoLocation</button>
            </div>
            <div class="col-6 mt-3">
                <p>User Country : <span id="userCountry"> </span></p>
                <p>User City : <span id="userCity"> </span></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
